*{
    font-family: 'Inter', sans-serif;
    color: white;

}

.principal{
    background: #051D3B;
    display: grid;
    grid-template-areas: 
    "cabecalho"
    "main"
    "footer";
    grid-template-columns: auto;
    grid-template-rows: 88px auto auto;
}

h2{
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 1rem;
}
h3{
    font-weight: 400;
    font-size: 1rem;
}

a{
    text-decoration: none;
}

a:visited{
    color: white;
}


/* bolinhas */
.principal_main_container_box_bolinhas{
    width: 50px;
    display: flex;
    justify-content: space-between;
}

.bolinha-vermelha, .bolinha-amarelo, .bolinha-verde{
    width: 12px;
    height: 12px;
    border-radius: 10px;
}
.bolinha-vermelha{
    background: #FF5F56;
}
.bolinha-amarelo{
    background: #FFBD2E;
}
.bolinha-verde{
    background: #27C93F;

}
