body{
    font-family: 'Inter', sans-serif;
    color: white;

}
.principal{
    background: #051D3B;
    display: grid;
    grid-template-areas: 
    "cabecalho"
    "main"
    "footer";
    grid-template-columns: auto;
    grid-template-rows: 88px auto auto;
}

/* bolinhas */
.principal_main_container_box_bolinhas{
    width: 50px;
    display: flex;
    justify-content: space-between;
}

.bolinha-vermelha, .bolinha-amarelo, .bolinha-verde{
    width: 12px;
    height: 12px;
    border-radius: 10px;
}
.bolinha-vermelha{
    background: #FF5F56;
}
.bolinha-amarelo{
    background: #FFBD2E;
}
.bolinha-verde{
    background: #27C93F;

}

/* menu */

.principal_main_menuLista_lista{
    padding: 0px;
    margin: 0px;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.principal_main_menuLista_lista_item{
    width: 150px;
    display: flex;
    align-items: center;
    flex-direction: ;
    justify-content: space-between;
}

.principal_main_menuLista_lista_item_icone{
    width: 32px;
    height: 32px;
}

.principal_main_menuLista_lista_item_link{
    text-decoration: none;
    text-align:left;
}

h2{
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 1rem;
}
