.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalho-avatar{
    display: flex;
    align-items: center;
}

.cabecalho-nav-link{
    margin: 10px;
}

/* menu */
.imagens-link, .menu-navegacao-item{
    display: flex;
    justify-content:start;
    align-items: center;
}

/* caixa de código */
.container-caixaDeCodigo{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

