.cabecalhoPrincipal .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container .cabecalhoPrincipal-avatar{
    display: flex;
    align-items: center;
}

.cabecalhoPrincipal-nav-link{
    margin: 10px;
}

.imagens-link, .menu-navegacao-item{
    display: flex;
    justify-content:start;
    align-items: center;
}

.container-caixaDeCodigo{
    display: flex;
    align-items: center;
}