.cabecalho-logo{
    grid-column-start: 1;
    grid-column-end: 2;
}

.cabecalho-BusqueAlgo{
    grid-column-start: 2;
    grid-column-end: 3;
}

.cabecalho-avatar{
    grid-column-start: 3;
    grid-column-end: 3;
}

/* grid do conteudo*/

.flex-container_conteudo{
    display: grid;
    grid-template-columns: 25% 752px 25%;
    grid-template-rows: 366px 10%;
    height: calc(80vh - 88px);
}

.flex-item-menu-navegacao{
    grid-column-start: 1;
    grid-column-end: 1;
}

.flex-item-areaDoCodigo{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start:1;
}

.botaoVisualizar{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
}

.flex-item-seuProjeto{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start:1;
    grid-row-end: 1;
}

.botaoSalvar{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
}
