@media screen and (min-width:1440px) {
    .principal_main{
        margin: 0 32px;

        grid-template-columns: 15% 55% 25%;
        grid-template-rows: auto;
    
        align-items: center;
        gap: 0px 40px;
    }

    .principal_main_container{
        width: 100%;
        height: 366px;
        border-radius: 8px;

        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        align-self: start;
    }

    .principal_main_container_box{
        width: calc(100% - 32px);
        height: calc(366px - 32px);
        margin-left: 16px;
        margin-top: 16px;
        border-radius: 8px;
        border-style: none;
    }

    .principal_main_container_box_code{
        width: calc(100% - 32px);
        height: calc(366px - 32px - 65px);
        margin-left: 16px;
        margin-top: 16px;
        border-radius: 8px;
        border-style: none;

    }

    .principal_main_container_highlight{
        margin-top: 16px;
        margin-bottom: 16px;
        height: 56px;
        grid-column-start: 2;
        grid-column-end: 3;

        grid-row-start: 2;
        grid-row-end: 2;
    }

/* menu lateral */
    .principal_main_menuLista{
        display:flex;
        grid-column-start: 1;
        grid-column-end: 2;

        grid-row-start: 1;
        grid-row-end: 2;
        align-self: start;
    }


/* formulario seu projeto */
    .principal_main_projeto{
        grid-column-start: 3;
        grid-column-end: 4;

        grid-row-start: 1;
        grid-row-end: 1;

        align-self: start;
    }

    .principal_main_projeto_formulario_inputNome, .principal_main_projeto_formulario_inputDescricao, .principal_main_projeto_formulario_linguagem, .principal_main_projeto_formulario_salvar{
        margin: 10px 0 10px 0;
        width: 100%;
        height: 56px;
    }
    .principal_main_projeto_formulario_seletor_cor{
        width: 50px;
        height: 50px;

    }

}