.principal_cabecalho{
    grid-area: cabecalho;
    display: grid;
    grid-template-columns: 20% 55% 25%;
    grid-template-rows: auto;

    align-items: center;
}

.principal_cabecalho_logo{
    width: 145px;
    height: 34px;


    grid-column-start: 1;
    grid-column-end: 1;
}

.principal_cabecalho_pesquisa{
    grid-column-start: 2;
    grid-column-end: 3;
}

.principal_cabecalho_pesquisa_input{
    height: 56px;
    background: #FFFFFF29;
    border-radius: 8px;
    border-style: none;
    padding-left: 1rem;

    grid-column-start: 2;
    grid-column-end: 3;
}

.principal_cabecalho_avatar{

    margin-left: 250px;

    grid-column-start: 3;
    grid-column-end: 3;

}