@media screen and (min-width:1440px) {
    .principal{
        width: 1440px;
        grid-template-rows: 88px auto auto;
    }
    .principal_cabecalho{
        grid-template-columns: 15% 55% 25%;
        margin: 0 32px;
        gap: 0px 40px;
    }
    .principal_cabecalho_lupa, .principal_cabecalho_menu{
        display: none;
    }
    .principal_cabecalho_pesquisa{
        display: flex;
    }
    .principal_cabecalho_avatar{
        display: flex;
    }
    .principal_cabecalho_menu-dropdown{
        display: none;
    }
    .principal_cabecalho_lupa-dropdown{
        display: none;
    }
}