@media screen and (min-width: 992px){
    /* body geral desktop antigo */
    .principal{
        grid-template-columns: auto;
        grid-template-rows: 88px auto auto; 
    }

    /* cabecalho */
    .cabecalho{
        width: 992px;
        background: rgb(87, 165, 42);

        display: grid;
        grid-template-columns: 250px 450px 292px;
        height: 88px;
    }

    .cabecalho-BusqueAlgo-caixa{
        background: #FFFFFF29;
        border-radius: 8px;
        border-style: none;
        padding-left: 14px;
        font-size: 1em; 
    
        width: 450px;
        height: 56px;

        display: flex;
        grid-column: 2;
        grid-row: 1;
           
    }
    .cabecalho-avatar{
        margin-right: 70px;

        display: flex;
        grid-column: 3;
        grid-row: 1;
    }

    /* main */

    .flex-container_conteudo{
        display: grid;
        grid-template-columns: 25% 752px 25%;
        grid-template-rows: 366px 10%;
        height: calc(80vh - 88px);
    }

    .flex-item-menu-navegacao{
        display: flex;
        grid-column: 1;
        grid-row: 1;
    }

    .flex-item-areaDoCodigo{
        grid-column: 2;
        grid-row: 1;

        width: 752px;
        height: 366px;
    }

    .caixaPreta{
        background: rgb(0, 0, 0);
        width: 688px;
        height: 302px;
        margin-top: 32px;
    
        box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.24);
        border-radius: 8px;
    }

    .caixaDeEscrever{
        background: black;
        color: white;
        font-family: 'Courier New', Courier, monospace;
        border-style:none;
        border-radius: 8px;
        margin-top: 16px;
        margin-left: 16px;
        height: 234px;
        width: 656px;
    }
    
    .botaoVisualizar{
        background: #5081FB14;
        color: white;
        border-radius: 8px;
        border-style: none;
        width: 752px;
        height: 56px;
        padding-left: 14px;
        font-size: 1em;
        margin-top: 16px;
    }

    .botaoVisualizar{
        width: 752px;
        height: 56px;
        padding-left: 14px;
        font-size: 1em;
        margin-top: 16px;

        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 2;
    }


    .flex-item-seuProjeto{
        grid-column-start: 3;
        grid-column-end: 3;
        grid-row-start:1;
        grid-row-end: 1;
    }
    
    .botaoSalvar{
        grid-column-start: 3;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 2;
    }
    /* footer */
}