@media screen and (min-width: 1200px){
    /* body geral monitor moderno e tv */
    .principal{
        grid-template-columns: auto;
        grid-template-rows: 88px auto auto; 
    }

    .caixa{
        margin: auto 32px auto;
    }

    /* cabecalho */
    .cabecalho{
    background: rgb(50, 42, 165);
    }
    /* main */
    /* footer */
}