@media screen and (min-width: 768px){
    /* body geral tablet */
    .principal{
        grid-template-columns: auto;
        grid-template-rows: 128px auto auto; 
    }
    /* cabecalho */
    .cabecalho{
    background: rgb(204, 186, 23);
    }


    .cabecalho-BusqueAlgo-caixa{
        background: #FFFFFF29;
        border-radius: 8px;
        border-style: none;
        padding-left: 14px;
        font-size: 1em; 
    
        width: 431px;
        height: 56px;

        display: flex;
        grid-column: 2;
        grid-row: 1;
   
    }

    /* main */
    .flex-item-menu-navegacao{
        display: none;
    }

    .flex-item-areaDoCodigo{
        grid-column: 1;
        grid-row: 1;

        background: #6BD1FF;
        border-radius: 8px;
        width: 343px;
        height: 492px;
    }

    .caixaPreta{
        width: 279px;
        height: 428px;
    
        box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.24);
        border-radius: 8px;
    }


    /* footer */
}